<div [formGroup]="formGroup">
    <ng-container *ngFor="let element of getElements()">

        <ng-container *ngIf="isDynamicGroup(element)">
            <hr>
            <div class="form-group" [formGroupName]="element.id">
                <dynamic-form-group [formGroup]="formGroup.controls[element.id]" [dynamicFormGroup]="element"
                                    [chainPath]="chainPath"></dynamic-form-group>
            </div>
        </ng-container>

        <ng-container *ngIf="isDynamicElement(element)">
            <div class="form-group">
                <dynamic-form-element [formGroup]="formGroup" [element]="element"></dynamic-form-element>
            </div>
        </ng-container>

    </ng-container>
</div>