<div [formGroup]="fg">
    <ng-container *ngFor="let field of getFields(); let i=index">

        <ng-container *ngIf="isDynamicGroup(field)">
            <div class="{{ field.cssClass }}" [formGroupName]="field.id">
                <dynamic-form-group [fg]="fg.controls[field.id]" [dynamicFormGroup]="field"
                                    [chainPath]="chainPath">
                </dynamic-form-group>
            </div>
        </ng-container>

        <ng-container *ngIf="isDynamicArray(field)">
            <div class="{{ field.cssClass }}" [formArrayName]="field.id">

                <dynamic-form-array [fg]="fg.controls[field.id]" [dynamicFormArray]="field">
                </dynamic-form-array>
            </div>
        </ng-container>

        <ng-container *ngIf="isDynamicElement(field)">
            <div class="form-group row">
                <dynamic-form-element [fg]="fg" [element]="field"></dynamic-form-element>
            </div>
        </ng-container>

    </ng-container>
</div>