<ng-container [formGroup]="fg">
    <div class="col-xs-12 divider-holder text-center" *ngIf="element.hasTopDivider">
        <hr>
    </div>

    <div class="form-group">
        <ng-container *ngIf="hasRenderer()">
            <ng-template [dynamicElementRenderer]="formRenderer" [element]="element"
                         [fg]="fg"
                         (elementEvent)="emitEvent($event)"
            ></ng-template>
        </ng-container>

        <ng-container *ngIf="!hasRenderer()">
            <form-element [element]="element" [fg]="fg" (elementEvent)="emitEvent($event)"></form-element>

            <div class="errorMessage">
                <element-validation-error [control]="fg.controls[element.id]"></element-validation-error>
            </div>
        </ng-container>
    </div>

    <div class="col-xs-12 divider-holder text-center" *ngIf="element.hasBottomDivider">
        <hr>
    </div>
</ng-container>