<ng-container [formGroup]="fg">
    <label *ngIf="element.label" [attr.for]="element.id" class="col-xs-12 col-sm-5 control-label text-right">{{ element.label }}</label>

    <ng-container [ngSwitch]="element.controlType">
        <div class="col-xs-12 col-sm-7">

            <ng-container *ngSwitchCase="'text'">

                <div class="input-group input-group-sm">

                    <input class="form-control input-sm" [formControlName]="element.id" [placeholder]="element.placeholder"
                           [id]="element.id" type="text" [textMask]="element.mask">

                    <span class="input-group-btn" *ngIf="element.isRemovable">
                        <span class="btn btn-default" (click)="emitEvent('input-remove')">
                          <i class="glyphicon glyphicon-remove"></i>
                        </span>
                    </span>
                </div>

                <span *ngIf="element.enableTextToogle" class="show-password" (click)="switchToText(element)">
                    <i class="glyphicon glyphicon-eye-close"></i>
                </span>
            </ng-container>

            <ng-container *ngSwitchCase="'password'">
                <input class="form-control input-sm" [formControlName]="element.id" [placeholder]="element.placeholder"
                       [id]="element.id" type="password" [textMask]="element.mask">
                <span *ngIf="element.enableTextToogle" class="show-password" (click)="switchToText(element)">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </span>
            </ng-container>

            <ng-container *ngSwitchCase="'checkbox'">
                <input class="checkbox" [formControlName]="element.id"
                       [id]="element.id" type="checkbox">
            </ng-container>

        </div>
    </ng-container>
</ng-container>